/*******************************************************************************
*                                                                              *
*  File/Desc	:  xwtable - default design for contol panel                    *
*  Skin        :  Default													          		 *
*  Site        :  http://www.vegexp.co.uk								          		 *
*  Author      :  Matt Barfoot - Clearview Webmedia Limited                    *
*  Contact Info:  sales@clearview-webmedia.co.uk                               *
*  Created     :  11/09/2006                                                   *
*  History     : 					                                                 *
*******************************************************************************/

/*******************************************************************************/
/* ------------------/ Defaults /--------------------------------------------- */
/*******************************************************************************/
table.cntrl {position: relative; border: 1px solid black; padding:0; margin:0; border:0; border-collapse:collapse; font-family: arial, sans-serif; font-size: 0.9em;}
table.cntrl caption {position: relative; text-align: left; margin-top: 0.6em; border: 0; font-size: 0.8em; color: Black; font-weight: bold; padding-bottom:0.8em; height: 1.4em; width: 100%;}
table.cntrl caption span.captionText {position: absolute; display: block; top: 0em;}
table.cntrl caption span.dataUpdated {position: absolute; display: block; right: 0em; top: 0em; text-align: center; padding-left: 2.5em; padding-right: 2.5em; color: #B22222; font-size: 1.2em; border: 2px solid #305F90; background-color: #F4F4F4; font-weight: bold;}

table.cntrl tr td {font-family: Arial, Helvetica, sans-serif !important;}

/*********************************** Table header******************************************************************/  
/* Table header: Wrapper */
table.cntrl thead tr.nestedTblWrapper th {border: 1px solid black; font-size: 1em; background : url('/skin/default/xtable-bg.gif') repeat-x 0 0; /*background-color: #F2F2F2;*/ color: black;}

/*Table header: nested table navigation */
table.cntrl thead tr.nestedTblWrapper th table {width: 98%;}
table.cntrl thead tr.nestedTblWrapper th table tbody tr {background-color: transparent; padding: 0;}
table.cntrl thead tr.nestedTblWrapper th table tbody td {border: none; padding: 0; padding-top: 0.4em; padding-bottom: 0.4em; font-size: 1.2em;}
table.cntrl thead tr.nestedTblWrapper th table tbody tr td.posleft {width: 20%; text-align: left; }
table.cntrl thead tr.nestedTblWrapper th table tbody tr td.posCenter {width: 65%; text-align: center; font-weight: bold}
table.cntrl thead tr.nestedTblWrapper th table tbody tr td.posCenter span {font-weight: normal; padding-left: 0.5em; padding-right: 0.5em;}
table.cntrl thead tr.nestedTblWrapper th table tbody tr td.posRight {width: 15%; text-align: right; padding-right: 1em;}
table.cntrl thead tr.nestedTblWrapper th table tbody tr td span.tblfilter {padding-left: 1em; color: Blue}
table.cntrl thead tr.nestedTblWrapper th table tbody tr td span.tblfilter span.filterAcive {color: Green;}
table.cntrl thead tr.nestedTblWrapper th table tbody tr td span.txt_divider {font-size: 1.2em; color: Silver;}
table.cntrl thead tr.nestedTblWrapper th table tbody tr td span.txt_divider_black {margin-left: 1em; font-size: 1.2em; color: Black;}

/* Table header: nested table navigation: Links */
table.cntrl thead tr.nestedTblWrapper th table tbody tr td a {font-size:1.2em; padding: 0.15em 0.3em; background-color: none; border: 1px solid #EBEBEB; }
table.cntrl thead tr.nestedTblWrapper th table tbody tr td a:hover {padding: 0.15em 0.3em; background-color: #F0F0F0; border: 1px solid #AAAAAA;}

/* Table header: nested table navigation: SPAN (disabled links) */
table.cntrl thead tr.nestedTblWrapper th table tbody tr td span.recordnav span {font-size:1.2em; padding: 0.15em 0.3em; background-color: none; border: 1px solid #F4F4F4; color: #C9C9C9}

/*********************************** Table Rows ******************************************************************/  
table.cntrl tr {border: 0; background-color: White; font-size: 0.75em; border-right: 1px solid black;  border-left: 1px solid black;}
table.cntrl tr th {font-weight: normal; background-color: #177730; color: White; text-align: left; padding: 0.2em 0.5em;}
table.cntrl tr th a, table.cntrl tr.altrow th a {color: White; text-decoration: underline;}

/* Table Rows: colmn borders for left and right outermost cells */ 
table.cntrl tr th.lhscol, table.cntrl tr td.lhscol, table.cntrl tr.altrow th.lhscol, table.cntrl tr.altrow td.lhscol {border-left: 1px solid black;} 
table.cntrl tr th.rhscol, table.cntrl tr td.rhscol, table.cntrl tr.altrow th.rhscol, table.cntrl tr.altrow td.rhscol {border-right: 1px solid black;}

/* Table Rows: if no records are found */ 
table.cntrl tr td.norecfound {padding: 2em 1em; color: Red;}

/* Table Rows: altrow background color */ 
table.cntrl tr.altrow {border: 0;  background-color: #F4F4F4;}

/* Table Rows: row borders */ 
table.cntrl tr td, table.cntrl tr.altrow td {padding: 0.2em 0.5em; border-left:1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc;}

/* Table Rows: No bottom border on last row */ 
table.cntrl tr.nobtmbdr td {border-bottom: none;}

/* Table Row: Highlighter */
table.cntrl tr.hilite, table.cntrl tr.altrow.hilite, table.cntrl tr.nobtmbdr.altrow.hilite, table.cntrl tr.nobtmbdr.hilite {background-color: #D5E0EE;}

/* Table Rows: row links */
table.cntrl tr td a, table.cntrl tr.altrow td a {color: Black; text-decoration: none;}
table.cntrl tr td a:hover, table.cntrl tr.altrow td a:hover {color: Blue; text-decoration: underline;}

/* /*********************************** Table Row Form Fields (Filter)******************************************************************/  
#tblFilter input.frmFilterFld {width: 100px;}


/* /*********************************** Table Footer Navigation ******************************************************************/

/* Table header: Wrapper */
table.cntrl tbody tr.nestedTblWrapper {border:1px solid black;}
table.cntrl tbody tr.nestedTblWrapper td {font-size: 1em; background : url('/pix/widget/table/bg.gif') repeat-x 0 0; /*background-color: #F2F2F2;*/ color: black; border-left: 1px solid black; border-right: 1px solid black;}

/*Table header: nested table navigation */
table.cntrl tbody tr.nestedTblWrapper td table {width: 100%; }
table.cntrl tbody tr.nestedTblWrapper td table tbody tr {background-color: transparent; padding: 0;}
table.cntrl tbody tr.nestedTblWrapper td table tbody td {border: none; padding: 0; padding-top: 0.4em; padding-bottom: 0.4em; font-size: 1.2em;}
table.cntrl tbody tr.nestedTblWrapper td table tbody tr td.posleft {width: 20%; text-align: left;}
table.cntrl tbody tr.nestedTblWrapper td table tbody tr td.posCenter {width: 65%; text-align: center; font-weight: bold}
table.cntrl tbody tr.nestedTblWrapper td table tbody tr td.posCenter span {font-weight: normal; padding-left: 0.5em; padding-right: 0.5em;}
table.cntrl tbody tr.nestedTblWrapper td table tbody tr td.posRight {width: 15%; text-align: right; padding-right: 1em;}
table.cntrl tbody tr.nestedTblWrapper td table tbody tr td span.tblfilter {padding-left: 1em; color: Blue}
table.cntrl tbody tr.nestedTblWrapper td table tbody tr td span.tblfilter span.filterAcive {color: Green;}
table.cntrl tbody tr.nestedTblWrapper td table tbody tr td span.txt_divider {font-size: 1.2em; color: Silver;}
table.cntrl tbody tr.nestedTblWrapper td table tbody tr td span.txt_divider_black {margin-left: 1em; font-size: 1.2em; color: Black;}

/* Table header: nested table navigation: Links */
table.cntrl tbody tr.nestedTblWrapper td table tbody tr td a {font-size:1.2em; padding: 0.15em 0.3em; background-color: none; border: 1px solid #EBEBEB; }
table.cntrl tbody tr.nestedTblWrapper td table tbody tr td a:hover {padding: 0.15em 0.3em; background-color: #F0F0F0; border: 1px solid #AAAAAA;}

/* Table header: nested table navigation: SPAN (disabled links) */
table.cntrl tbody tr.nestedTblWrapper td table tbody tr td span.recordnav span {font-size:1.2em; padding: 0.15em 0.3em; background-color: none; border: 1px solid #F4F4F4; color: #C9C9C9}
/* Table Footer */
table.cntrl tr.tableFooter {font-size: 0.9em; background-color: #305F90; border-top: 1px solid black; border-bottom:1px solid black; padding: 0.4em; border-left: 1px solid black; border-right: 1px solid black; height: 5px;}


#moreInfo {margin-top: 4em;}
/* Links */