/*******************************************************************************
*                                                                              *
*  File/Desc	:  prototype - Advanced Search From                             *
*  Skin        :  Neutral													          		 *
*  Site        :  http://www.vegexp.co.uk								          		 *
*  Author      :  Matt Barfoot - Clearview Webmedia Limited                    *
*  Contact Info:  sales@clearview-webmedia.co.uk                               *
*  Created     :  26/06/06                                                     *
*  History     : 																                *
*******************************************************************************/

/*******************************************************************************/
/* ------------------/ Advanced Search Form ----------------------------------- */
/*******************************************************************************/

/* ------------------/ Container /-------------------------------------------- */
#advSearchFormContainer {background-color: White; border: 1px solid Black; padding:0.7em; }


/* ------------------/ Form /-------------------------------------------- */
#advSearchFormContainer form 										{font-size: 0.8em;}
#advSearchFormContainer form span.fieldsetTitle				{font-weight: Bold;}
#advSearchFormContainer form fieldset 							{margin: 0.5em 0em 1.5em; padding: 0.8em 0em; border-top: 1px solid black; border-bottom: 1px solid #B9B9B9;}
#advSearchFormContainer form fieldset p						{margin: 0.8em 0em; clear: left}
#advSearchFormContainer form fieldset p label				{text-align: right; float: left; width:125px; padding-right: 20px;}
#advSearchFormContainer form fieldset p label.long			{text-align: right; float: left; width:250px; padding-right: 10px;}
#advSearchFormContainer form fieldset p label.extralong  {text-align: left; float: left; width:530px; padding-right: 10px;}
#advSearchFormContainer form fieldset p label.long span	{padding-left: 20px;}
#advSearchFormContainer form fieldset p label.fldinline  {text-align: right; float: none; width:100px; padding-right: 10px; padding-left: 10px;}
#advSearchFormContainer form fieldset p input				{width: 357px; color: #F36A19}
#advSearchFormContainer form fieldset p input.small		{width: 125px; }
#advSearchFormContainer form fieldset p input.med			{width: 200px; }
#advSearchFormContainer form fieldset p input.btn			{width: 125px; } 
#advSearchFormContainer form fieldset p input.radiobtn	{width: 25px; } 
#advSearchFormContainer form fieldset p select				{width: 357px; color: #F36A19}
#advSearchFormContainer form fieldset p select.med			{width: 200px; }
#advSearchFormContainer form fieldset p textarea		   {width: 357px; height: 100px;} 


/*******************************************************************************/
/* ------------------/ EOF /-------------------------------------------------- */
/*******************************************************************************/